<!DOCTYPE html>
<head xmlns:style="http://www.w3.org/1999/xhtml">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <!-- All the files that are required -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
    <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Bungee+Inline|Lobster|Press+Start+2P|Revalia" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Italianno|Righteous|Satisfy" rel="stylesheet"
    <link rel="shortcut icon" href="img/batuhan.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    
    <script src="jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Kaushan+Script|Philosopher" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Lemonada|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Space+Mono" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>

<div class="nv">
<nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto ul nbr">
            <li class="nav-item">
            <a class="bb" href="index.html"><div class="banner">yourblog</div></a>
            </li>
            <li class="nav-item nbr1">
                    <a class="nav-link" href="/login">Giriş Yap</a>
                  </li>
                  <li class="nav-item nbr2">
                    <a class="nav-link" href="/signup">Üye Ol</a>
                  </li>
                  
        </ul>
        <div class="frm">
             <form class="form-inline my-3 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
        </div>
            
        
        
        
   
</div>
</nav>
</div>